body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

a,a:hover{
    color: #000;
}
a:link {
    text-decoration: none;
    color: #000;
}

header a:visited {
    color: #2E2F24;
}
header {
    display: flex;
    background-color:#F3ECDF;
    color: #2E2F24;
    border-bottom: 2.5px solid #000;
    justify-content: space-between;
    align-items: center;     
    width: 100%;
    
}
.site-name {
    display: flex;
    font-family: "Italiana", sans-serif;
    font-size: 42px;
    font-weight: 400;
    margin: 0;
    padding-top: 28px;
    padding-left: 32px;
    padding-bottom: 18px;
    color: #2E2F24;
}
.site-name a{
    color: #2E2F24;
}
.menu {
    list-style: none;
    display: flex;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    letter-spacing: 3px;
    gap: 45px;
    margin: 0;
    padding-right: 43px;
}
nav a:hover {
    color : #fff;
    background-color: #464739;
}

.main {
    background-color: #95967F;
    border-bottom: 2px solid #000;
}
.main-top{
    border-bottom: 1.5px solid #fff;
    position: relative;
    display: flex;
    justify-content: center;
}
#left{
    width: 352px;
}
#right{
    width: 294px;
}
#cd{
    width: 180px;
    height: 180px;
    margin-top: 39px;
    margin-left: 94px;
}
#Audrey {
    flex:1;
    text-align: center;
    position: relative;
}
#Audrey img{
    max-width: 286px;
    max-height: 360px;
    margin-top: 19px;
    vertical-align: bottom;
    margin-left: -11%;
}
#Audrey::before{
    position: absolute;
    content: "";
    top: 19px;
    left: 0;
    width: 1.5px;
    height: 263px;
    background-color: white;  
}
#Audrey::after{
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 1.5px;
    height: 263px;
    background-color: white;  
}
#right{
    display: flex;
    align-items: end;
    justify-content: end;
}
#right .line1{
    width: 147px;
    height: 1.5px;
    background-color: white;  
    margin-right: 59px;
    margin-bottom: 97px;
}

.intro {
    letter-spacing: 10%;
}
.main-bottom {
    display: flex;
    /* margin-left: 18%; */
    position: relative;
}
.main-bottom h2 {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-size: 55px;
    margin: 0;
    padding-left: 37px;
}
.main-bottom p {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-bottom  .left{
    width: 315px;
}
.main-bottom  .intro{
    flex: 1;
}
#plant {
    width: 150px;
    height: 140.22px;
    margin-top: 30px;
    margin-right: 101px;
    margin-left: 100px;
}
#button1 {
    display: flex;
    font-family: "Playfair Display", serif;
    font-size: 12px;
    letter-spacing: 1.8px;
    align-items: center;
    justify-content: center;
    text-align: center;  
    width: 120px;
    height: 30px;
    margin:23px auto 36px ;
    justify-self: center;
    color: #000;
    background-color: #EBDAC8;
    border: #fff solid 1px;
    white-space: nowrap; 
}
 .main2 {
    display: flex;
    justify-content: space-between;
    background-color: #EBDAC8;
    height: 554px;
 }
.fav {
    flex: 1;
}
.fav h3 {
    margin: 0;
    padding-top: 45px;
    padding-bottom: 56px;
    text-align: center;
    font-family: "Italiana", sans-serif;
    font-size: 45px;
    font-weight: 400;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 27px;
}


#pic1 {
    display: flex;
    justify-content:flex-start;
    width: 250px;
    height: 554px;
}
#pic2 {
    width: 251px;
    height: 554px;
}
#green {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;   
}
#green img {
    width: 120px;      
    height: 180px;           
    border-radius: 80px;
    margin-bottom: 11px;
}
#green h4 {
    font-family: "Poiret One", sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding-bottom: 11px;
}
#green p {
    width: 213px;
    font-family: "Caramel", cursive;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding-bottom: 85px;
}
#jazz {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;    
}
#jazz img {
    width: 120px;      
    height: 180px;           
    border-radius: 80px;
    margin-bottom: 11px;
}
#jazz h4 {
    font-family: "Poiret One", sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding-bottom: 11px;
}
#jazz p {
    width: 213px;
    font-family: "Caramel", cursive;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding-bottom: 85px;
}
#vacay {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;     
}
#vacay img {
    width: 120px;      
    height: 180px;           
    border-radius: 90px;
    margin-bottom: 11px;
}
#vacay h4 {
    font-family: "Poiret One", sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding-bottom: 11px;
}
#vacay p {
    width: 213px;
    font-family: "Caramel", cursive;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding-bottom: 85px;
}
.comment{
    display: flex;
    justify-content: center;
    background-color: #2E2F24;
    color: #fff;
}
.comment h4 {
    font-family: "Playwrite US Trad", cursive;
    margin-bottom: 15px;
    margin-top: 62px;
    font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#textbox {
    width: 300px;
    height: 40px; 
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    border: 0.5px solid #fff;
    padding: 5px;
    resize: none;
    outline: none;
    box-sizing: border-box;
}
#textbox::placeholder {
    color: #fff;
    padding-top: 10px;
    padding-left: 12px;

}
#textbox:focus {
    border-color: #EBDAC8;
    box-shadow: 0 0 5px #EBDAC8; 
}
#button2 {
    width: 108px;
    height: 26px;
    font-family: "Playfair Display", serif;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    letter-spacing: 3px;
    text-align: center;
    border: #fff solid 0.5px;
    margin-top: 15px;
    margin-bottom: 140px;
    display: block;
}
#button2:hover {
    color: #464739;
    background-color: #F3ECDF;
    border: #fff solid 0.5px;
}
.footer {
    color: #fff;
    background-color: #2E2F24;
    display: flex;
    font-family: "Playfair Display", serif;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    margin: 0;
    width: 100%;
}
.footer a:visited,.footer a,.footer a:hover {
    color: #fff;
}
.pnt{
    display: flex;
    margin-right: 45px;
    gap: 40px;
}
.pnt a:hover {
    color: #2E2F24;
    background-color: #F3ECDF;
}
#copyright{
    padding-left: 48px;
    margin: 0;
}
#copyright p{
    margin-top: 0;
    margin-bottom: 0;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .site-name{
        padding-left: 19px;
        padding-top: 23px;
    }
    .menu{
        padding-right: 20px;
        gap: 40px;
    }
    #left {
        width: 163px;
    }
    #cd {
        width: 110px;
        height: 110px;
        margin-top: 16px;
        margin-left: 23px;
    }
    #Audrey img {
        max-width: 240px;
        max-height: 302px;
        margin-top: 19px;
        vertical-align: bottom;
        margin-left: 8%;
    }
    #Audrey::after{
        width: 0;
    }
    #right {
        width: 210px;
    }
    #right .line1{
        margin-bottom: 32px;
    }
    .main-bottom .left {
        width: 136px;
    }
    .main-bottom p{
        text-align: left;
    }
    #plant {
        width: 92px;
        height: 86px;
        margin-top: auto;
        margin-right: 15px;
        margin-left: 28px;
        margin-bottom: 23px;
    }
    .main-bottom::after{
        position: absolute;
        content: "";
        top: 0;
        right: 46.5px;
        width: 1.5px;
        height: 130px;
        background-color: white;
    }
    .main2{
        height: auto;
        flex-wrap: wrap;
    }
    #pic1,
    #pic2 {
        width: 50%; 
        height: auto;
        object-fit: cover;
    }
    #pic1 {
        order: 1; 
    }
    .fav {
        order: 3; 
        width: 100%;
    }
    #pic2 {
        order: 2; 
    }
    .fav h3 {
        padding-top: 55px;
        padding-bottom: 55px;
        font-size: 32px;
    }
    #green p{
        padding-bottom: 68px;
    }
    .comment h4{
        margin-top: 25px;
    }
    #button2{
        margin-bottom: 87px;
    }
    
}
  @media screen and (max-width:767px){
    header{
        display: block;
        border-bottom: none;
    }
    header h1{
        border-bottom: 2.5px solid #000;
    }
    .menu {
        font-size: 14px;
        letter-spacing: 2.1px;
        gap: 26px;
        padding-top: 17px;
        background-color: #95967F;
        display: flex;
        justify-content: center;
    }
    header a:visited,header a:hover {
        color: #fff;
    }
    header .menu a,header .menu a:visited,header a:hover{
        color: #fff;
    }
    .site-name {
        font-size: 32px;
        padding-top: 22px;
        padding-left: 10px;
        padding-bottom: 15px;
        color: #2E2F24;
    }
    header .site-name a{
        color: #000;
    }
    .main-top{
        display: block;
    }
    #left,#right{
        display: none;
    }
    #Audrey::before,#Audrey::after{
        width: 0;
    }
    #Audrey img {
        max-width: 224px;
        max-height: 282px;
        margin-top: 17px;
        vertical-align: bottom;
        margin-left: 0;
    }
    .main-top{
        border-bottom: none;
    }
    .main-bottom{
        display: block;
    }
    .main-bottom h2 {
        padding-left: 30px;
        font-size: 32px;
    }
    .main-bottom p{
        font-size: 12px;
        text-align: center;
        width: 237px;
        margin: 12px auto 24px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .main-bottom .left {
        width: 100%;
    }
    #plant{
        display: none;
    }
    #pic1, #pic2{
        width: 50%;
        height: auto;
    }

    .main2{
        height: auto;
        flex-wrap: wrap;
    }

    #pic1 {
        order: 1; 
    }
    .fav {
        order: 3; 
        width: 100%;
    }
    #pic2 {
        order: 2; 
    }
    .fav h3 {
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 22px;
    }
    .item{
        display: block;
    }
    #green p{
        width: 215px;
        padding-bottom: 69px;
        font-size: 16px;
    }
    #jazz p{
        width: 192px;
        padding-bottom: 69px;
        font-size: 16px;
    }
    #vacay p{
        width: 192px;
        padding-bottom: 58px;
        font-size: 16px;
    }

    .comment h4{
        margin-top: 21px;
        font-size: 18px;
        margin-bottom: 17px;
        text-align: center;
    }
    #textbox {
        width: 200px;
        box-sizing: border-box;
        height: 28px;
        font-size: 8px;
    }
    #button2{
        margin-bottom: 60px;
        font-size: 8px;
        width: 60px;
        height: 18px;
        margin-top: 6px;
    }
    .footer{
        padding-bottom: 11px;
        font-size: 8px;
    }
    #copyright {
        padding-left: 15px;
        margin: 0;
    }
    .pnt {
        display: flex;
        margin-right: 15px;
        gap: 20px;
    }

  }